__pycache__/
*.py[cod]
*$py.class
.flwr/
.Python
build/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage*
.env
.env.*
.venv/
env/
venv/
.idea/
.vscode/
*.pt
*.pth
*.ckpt
*.onnx
*.engine*
*.log*
*events.out.tfevents.*
wandb/
runs/
logs/
outputs/
results/
checkpoints/
weights/
datasets/
data/
cache/
tmp/
downloads/
predictions/
*.part
*.chunk
*.zip
*.tar
*.tar.gz
*.7z
.ipynb_checkpoints/
.DS_Store*
wget-log*
